<li>
	<img src="{{ user.gravatar(50) }}" alt="{{ user.username }}" class="gravatar">
	<a href="/user/{{ user.id }}">{{ user.username }}</a>
	{% if app.user == user %}
    | <a href="/user/edit/{{ user.id }}">Edit</a>
  {% endif %}
  {% if is_granted('ROLE_ADMIN') and not user.admin %}
    | <a href="/user/delete/{{ user.id }}" class="delete">Delete</a>
  {% endif %}
</li>