{% extends 'base.html.twig' %}

{% block title %}Users | {% endblock %}

{% block body %}
	<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Users</h3>
    </div>
    <div class="panel-body">
      {{ knp_pagination_render(users) }}
      <ul class="users">
        {% for user in users %}
          <li>
            <img src="{{ user.gravatar(50) }}" alt="{{ user.username }}"
                 class="gravatar">
            <a href="/user/{{ user.id }}">{{ user.username }}</a>
            {% if is_granted('ROLE_ADMIN') %}
              | <a href="/user/edit/{{ user.id }}"> Edit </a>
              {% if not user.admin %}
                | <a href="/user/delete/{{ user.id }}"> Delete </a>
              {% endif %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {{ knp_pagination_render(users) }}
    </div>
  </div>
{% endblock %}