{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} | {% endblock %}

{% block body %}
	<div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
	      <h1>
	      	<img src="{{ user.gravatar() }}">
	        {{ user.username }}
	      </h1>
	    </section>
	    <section class="stats">
	      {% include './partials/_stats.html.twig' %}
	    </section>
	  </aside>
	  <div class="col-md-8">
	  	{% if is_granted('ROLE_USER') %}
	  		{% include './users/_follow_form.html.twig' %}
	  	{% endif %}
	  	{% if microposts|length %}
		  	<h3>Microposts ({{ user.microposts|length }})</h3>
	      <ol class="microposts">
		    {% for micropost in microposts %}
		      {% include "./microposts/_micropost.html.twig" %}
		    {% endfor %}
		    </ol>
		    {{ knp_pagination_render(microposts) }}
			{% endif %}
		</div>
	</div>
{% endblock %}