<li id="micropost-{{ micropost.id }}">
  <img src="{{ micropost.user.gravatar(50) }}"
       alt="{{ micropost.user.username }}" class="gravatar">
  <span class="user">
  	<a href="/user/{{ micropost.user.id }}">{{ micropost.user.username }}</a>
  </span>
  <span class="content">
    {{ micropost.content }}
    {% if micropost.picture %}
      <img src="{{ asset(micropost.picture) }}"
           alt="Micropost {{ micropost.id }} picture">
    {% endif %}
  </span>
  <span class="timestamp">
    Posted {{ micropost.createdAt | date('F j, Y, g:i a') }}.
    {% if is_granted('ROLE_ADMIN') or micropost.user.id == user.id %}
    	<a href="/micropost/delete/{{ micropost.id }}">delete</a>
    {% endif %}
  </span>
</li>